@model IEnumerable<CMS_Database.Entities.DoanhThuTheoTungNgay>
@{
    ViewBag.Title = "BaoCaoDoanhThuTheoNgay";
    Layout = "~/Views/Shared/ACE_Layout.cshtml";
    var i = 1;
}

@helper CheckDate(DateTime date)
{
    @date.Date.ToString("dd/MM/yyyy")
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Báo cáo doanh thu theo ngày</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Trang chủ</a></li>
            <li class="breadcrumb-item">Báo cáo</li>
            <li class="breadcrumb-item active" aria-current="page">Doanh thu theo ngày</li>
        </ol>
    </div>
    <div class="container">
        <canvas id="barChart"></canvas>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
            @using (Html.BeginForm("BaoCaoDoanhThuTheoNgay", "SaleReport", FormMethod.Get))
            {
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="col-md-3">
                        <select class="form-control " data-val="true" data-val-number="The field Loại người dùng must be a number." data-val-required="Bắt buộc nhập" id="s_month" name="s_month">
                            @foreach (var item in ViewBag.moth)
                            {
                                <option @(ViewBag.ismonth == item.Value ? "selected" : "") value="@item.Value">Tháng @item.Text</option>
                            }
                        </select>
                        </div>
                    <div class="col-md-3">
                        <select class="form-control " data-val="true" data-val-number="The field Loại người dùng must be a number." data-val-required="Bắt buộc nhập" id="s_year" name="s_year">
                            @foreach (var item in ViewBag.year)
                            {
                                <option @(ViewBag.isyear == item.Value ? "selected" : "") value="@item.Value">Năm @item.Text</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary" style="width: 16%;border: 1px solid grey;border-left: none;"><i class="fa fa-search"></i></button>
                        <button type="button" class="btn btn-primary" onclick="openpoupmy(false);"><i class="fa fa-file-pdf-o" style="font-size:16px"></i> PDF</button>
                        <button type="button" class="btn btn-primary" onclick="openpoupmy(true);"><i class="fa fa-file-excel-o" style="font-size:16px"></i> Excel</button>
                    </div>
                    </div>
            }
                <div class="table-responsive">
                    <div class="grid-mvc" data-lang="en" data-gridname="" data-selectable="true" data-multiplefilters="false">
                        <div class="grid-wrap">
                            <table class="table table-striped grid-table" id="table-grid">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="grid-header">
                                            <div class="grid-header-title">
                                                <span>STT</span>
                                            </div>
                                        </th>
                                        <th class="grid-header">
                                            <div class="grid-header-title">
                                                <span>Ngày</span>
                                            </div>
                                        </th>
                                        <th class="grid-header">
                                            <div class="grid-header-title">
                                                <span>Tổng tiền thu S0</span>
                                            </div>
                                        </th>
                                        <th class="grid-header">
                                            <div class="grid-header-title">
                                                <span>Tổng tiền chi S1</span>
                                            </div>
                                        </th>
                                        <th class="grid-header">
                                            <div class="grid-header-title">
                                                <span>Tiền lãi (S0-S1)</span>
                                            </div>
                                        </th>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="grid-row ">
                                            <td class="grid-cell" data-name="">@i</td>
                                            <td class="grid-cell" data-name="">
                                                <span>@CheckDate(item.Ngay)</span>
                                            </td>
                                            <td class="grid-cell money1" data-name="GhiChu">@item.Tongthu</td>
                                            <td class="grid-cell money1" data-name="TongTien">@item.Tongchi</td>
                                            <td class="grid-cell money1" data-name="TenKH">@item.Loinhuan</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Tổng tiền :</td>
                                        <td class="money1" style="color:blue">@ViewBag.tongtien</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Row-->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

<script>
    function formatday(data)
    {
        var date = new Date(parseInt(data.substr(6)));
        var formatted = ("0" + date.getDate()).slice(-2) + "/" + ("0" + (date.getMonth() + 1)).slice(-2) + "/" + date.getFullYear();
        return formatted;
    }
    $(document).ready(function () {
        $.ajax({
            url: "/SaleReport/BarcharTheongayReal",
            dataType: "json",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var labels = data.map(function (e) {
                    return formatday(e.Ngay);
                });
                var data1 = data.map(function (e) {
                    return e.Tongthu;
                });
                var data2 = data.map(function (e) {
                    return e.Tongchi;
                });
                var ctx = document.getElementById("barChart").getContext('2d');
                var barChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Tổng thu',
                            data: data1,
                            backgroundColor: "rgba(0,0,255,1)"
                            
                        }, {
                            label: 'Tổng chi',
                            data: data2,
                            backgroundColor: "rgba(255,0,0,1)"
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {                                   
                                    // Include a dollar sign in the ticks
                                    callback: function (value) {
                                        return number_format(value);
                                    }
                                },
                            }],
                        },
                        tooltips: {
                            callbacks: {
                                label: function (tooltipItem, chart) {
                                    var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                    return datasetLabel + ': ' + number_format(tooltipItem.yLabel);
                                }
                            }
                        },
                      
                    }
                });
                console.log(data);
            }
        });
    });
   
    
    function openpoupmy(value) {
        debugger
        var sd = $("#s_month").val();
        var ed = $("#S_year").val();
        newwindow = window.open('/CMS_Sale/SaleReport/ExportToExcel?name=doanhthutheongay&s_month=' + sd + '&s_year=' + ed + '&ExportExcel=' + value + '', 'print', 'height=500,width=500');

                setTimeout(function () {
                }, 500);
            }

</script>



