@using CMS_ShopOnline.Areas.Administration.Models
@model  IEnumerable<PhanQuyenViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ACE_Layout.cshtml";
    var i = 0;
}
<style>
    .custom-checkbox {
        min-height: 1rem;
        padding-left: 0;
        margin-right: 0;
        cursor: pointer;
    }

        .custom-checkbox .custom-control-indicator {
            content: "";
            display: inline-block;
            position: relative;
            width: 30px;
            height: 10px;
            background-color: #818181;
            border-radius: 15px;
            margin-right: 10px;
            -webkit-transition: background .3s ease;
            transition: background .3s ease;
            vertical-align: middle;
            margin: 0 16px;
            box-shadow: none;
        }

            .custom-checkbox .custom-control-indicator:after {
                content: "";
                position: absolute;
                display: inline-block;
                width: 18px;
                height: 18px;
                background-color: white;
                border-radius: 21px;
                box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
                left: -2px;
                top: -4px;
                -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
                transition: left .3s ease, background .3s ease, box-shadow .1s ease;
            }

        .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
            background-color: #6466f9;
            background-image: none;
            box-shadow: none !important;
        }

            .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
                background-color: #6466f9;
                left: 15px;
            }

        .custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
            box-shadow: none !important;
        }
</style>
@using (Html.BeginForm(FormMethod.Post))
{
    <div class="container-fluid" id="container-wrapper">
            <button class="btn btn-mini btn-primary" type="submit" name="Submit" value="" style="margin-bottom: 10px;">
                <i class="ace-icon fa fa-save"></i> Lưu cài đặt
            </button>

            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <div class="table-responsive">
                    <table class="table table-striped grid-table">
                        <thead class="thead-light">
                            <tr>
                                <th><i class='fas fa-arrow-down'></i> Tên chức năng | Loại tài khoản <i class='fas fa-arrow-right'></i></th>
                                @foreach (var item in ViewBag.LoaiNV)
                                {
                                    <th>@item.TenLoai<label class="custom-control custom-checkbox"><input id="@item.Id" type="checkbox" checked="checked" class="custom-control-input phanquyenall" onchange="selectid(@item.Id);"><span class="custom-control-indicator" title="Chọn tất cả"></span></label></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model)
                            {
                                <tr>
                                    <td>@item.ControllerName</td>
                                   @foreach(var item2 in item.DetailsPhanQuyen)
                                    {
                                        <td>
                                            <label class="custom-control custom-checkbox">
                                                <input name="DetailsPhanQuyen[@i].Id" value="@item2.Id" type="hidden">
                                                <input name="DetailsPhanQuyen[@i].IdControllerName" value="@item2.IdControllerName" type="hidden">
                                                <input name="DetailsPhanQuyen[@i].IdRole" value="@item2.IdRole" type="hidden">
                                                @if (item2.IsDelete == false)
                                                {
                                                    <input class="custom-control-input @item2.IdRole" checked="checked" data-val="true" data-val-required="The IsDelete field is required." id="item2_IsDelete" name="DetailsPhanQuyen[@i].IsDelete" type="checkbox" value="false">
                                                    <input name="DetailsPhanQuyen[@i].IsDelete" type="hidden" value="true">
                                                }
                                                @if (item2.IsDelete == true)
                                                {
                                                    <input class="custom-control-input @item2.IdRole" id="item2_IsDelete" name="DetailsPhanQuyen[@i].IsDelete" type="checkbox" value="false">
                                                    <input name="DetailsPhanQuyen[@i].IsDelete" type="hidden" value="true">
                                                }
                                                @*<span class="custom-control-indicator"></span>
                                            <input type="checkbox" class="custom-control-input" value="true" checked>*@
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                       i++;
                                   }

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>              
    </div>
}
    <script>


        function selectid(id)
        {
            $("."+id+"").prop("checked",$("#"+id+"").prop("checked"));
        }
        function Value(element)
        {
            debugger
            if (element.value == "True")
            {
                $(this).val('False');
            }
            else
            {
                $(this).val('True');
            }

        }
        function getValue(id,value) {
            $.ajax({
                url: "/Setting/Details/",
                dataType: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                data: { id: id,value:value },
                success: function (data) {
                    response(data);
                },
                error: function (err) {

                }
            });

        }
    </script>

