
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ACE_Layout.cshtml";
    int count = 1;
}
@helper CheckDate(DateTime date)
{
    @date.Date.ToString("dd/MM")
}
<style>
    .chitiet:hover {
        background-color: #337ab7;
    }
</style>
<link href="@Url.Content("~/Assets/css/home.css")" rel="stylesheet" type="text/css" />
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Tổng quan</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tổng quan</li>
        </ol>
    </div>
    <div class="row">
        <!--Grid-->
        <div class="column">
            <div class="card" style="background-color:#8bc34a">
                <h3>Tổng thu<i class="fas fa-chart-bar" style="font-size:24px; float:right "></i></h3>
                <p class="money1">@ViewBag.tongthu</p>
            </div>
        </div>

        <div class="column">
            <div class="card" style="background-color:#0277bd">
                <h3>Tổng chi <i class="far fa-fw fa-window-maximize" style="font-size: 24px; float:right"></i></h3>
                <p class="money1">@ViewBag.tongchi</p>
            </div>
        </div>

        <div class="column">
            <div class="card" style="background-color:#ffc107">
                <h3>Số đơn hàng <i class="far fa-calendar-alt" style="font-size:24px;float:right"></i></h3>
                <p>@ViewBag.tongdonhang</p>
            </div>
        </div>

        <div class="column">
            <div class="card" style="background-color:#d32f2f">
                <h3>Kho <i class="fas fa-warehouse" style="font-size: 24px; float: right"></i></h3>
                <p>@ViewBag.tonghang</p>
            </div>
        </div>
        <!-- Doanh số-->
        <div class="col-lg-6" style="top:25px">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">DOANH SỐ</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="myBarChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bonus -->
        <div class="col-lg-6"  style="top:25px"">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"> TOP 5 SẢN PHẨM BÁN CHẠY</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="oilChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4" style="top:13px;padding:12px">
            <div class="card shadow mb-10">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">TIỀN BẠC</h6>
                </div>
                <div style="text-align:right;margin-top:-43px">
                    <button class="btn btn-default" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Hôm nay
                    </button>
                </div>
                <div class="card-body">
                    <p style="color:black">Tiền thu bán hàng: <b class="money1" style="float:right">@ViewBag.tongthuhn</b></p>
                    <hr class="sidebar-divider">
                    <a href="#demo1" data-toggle="collapse">Tổng thu:<b class="money1" style="float:right">@ViewBag.tongthuhn</b></a>
                    
                    <hr class="sidebar-divider">
                    <a href="#demo2" data-toggle="collapse" style="color:red">Tổng chi:<b class="money1" style="float:right">@ViewBag.tongchihn</b></a>
                    
                    <hr class="sidebar-divider">
                    <p style="color:black"><i>(Thu - Chi):</i><b class="money1" style="float:right">@ViewBag.thuchi</b></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4"  style="top:13px;padding:12px">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">TÌNH TRẠNG KHO</h6>
                </div>
                <div class="card-body">
                    <p style="color:black">Hàng còn trong kho: <b style="float:right">@ViewBag.countHangCon</b></p>
                    <p style="color:black">Sắp hết hàng: <b style="float:right">@ViewBag.countSapHetHang</b></p>
                    <p style="color:black">Hết hàng: <b style="float: right; color:#d32f2f">@ViewBag.countHetHang</b></p>      
                </div>
            </div>
        </div>
        <div class="col-lg-4" style="top:13px;padding:12px">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">SỰ KIỆN BÁN LẺ</h6>
                </div>
                <div style="text-align:right;margin-top:-43px">
                    <a href="@Url.Action("Create", "Promotions", new { area ="Administration" })">
                        <button type="button" class="btn btn-default" title="Thêm khuyến mãi" style="margin-left:10px">
                            <i style="color:#0277bd" class="fa fa-plus"></i> <b style="color:#0277bd;font-size:15px">KHUYẾN MÃI</b> 
                        </button>
                    </a>
                </div>
                <div class="card-body promotions">
                    @foreach (var item in ViewBag.Ten)
                    {
                        <a href="/Administration/Promotions/Details/@item.Id">
                            <button type="button" class="btn btn-default chitiet" title="Xem chi tiết khuyến mãi">
                                <div class="col-md-12" style="display:flex">
                                    <div style="margin-left: -12px">
                                        <p style="color:black;float:left">@count</p>
                                    </div>
                                    <div class="col-md-8">
                                        <p style="color:black">@item.Ten</p>
                                    </div>
                                    <div>
                                        <p style="float:right;color:black">Từ @CheckDate(item.NgayBD) - @CheckDate(item.NgayKT)</p>
                                    </div>
                                </div>
                            </button>
                        </a>
                            <hr class="sidebar-divider">
                            count++;
                    }
                    <div class="nullpromotions"></div>
               </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.toast').toast('show');
    });
    $(document).ready(function () {
        var lol = $('.promotions').find('a').length;
        if (lol == 0) {
            var html = "";
            html += '<p style="color:black">Không có chương trình khuyến mãi.</p>';
            html += '<a href="/Administration/Promotions/Index"><button type="button" class="btn btn-default" title="Xem chi tiết" style="margin-left:80px"><i style="color:#0277bd" class="fa fa-eye"></i> <b style="color:#0277bd;font-size:13px">XEM CHI TIẾT</b></button></a>';
            $(".nullpromotions").append(html);
        }
    });
</script>