@using CMS_ShopOnline.Areas.CMS_Sale.Models
@model IEnumerable<NguyenLieuViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ACE_Layout.cshtml";
}
@using GridMvc.Html
<link href="/Assets/css/warehouse.css" rel="stylesheet" type="text/css" />
@helper ButtonEdit(int Id)
{
    <a href="@Url.Action("Edit","Warehouse",new { @Id = Id })">
        <button class="btn btn-primary" title="Chỉnh sửa" style="margin: 5px" type="button"><i class="fas fa-pencil-alt"></i></button>
    </a>
}
@helper ButtonDelete(int Id)
{
    <button class="btn btn-warning" title="Ngừng kinh doanh" style="margin:5px" name="IdDelete" type="submit" value="@Id" onclick="return ConfirmDelete()"> <i class="fas fa-trash-alt"></i></button>
}
@helper Ma(int Id)
{
    <span>NL @Id</span>
}
@helper Delete(bool? Status)
{
    if (Status == false)
    {
            <span class="badge badge-primary">Hoạt Động</span>
    }
}
@helper Image(string img)
{
    if (img == null)
    {
            <img src="~/Areas/CMS_Sale/Image/NguyenLieu/error.png" style="width:60px; height:60px">
    }
    else
    {
            <img src="~/Areas/CMS_Sale/Image/NguyenLieu/@img" style="width:60px; height:60px">
    }
}
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div style="display:flex;">
            <h1 class="h3 mb-0 text-gray-800">Nguyên liệu</h1>
            <a href="@Url.Action("Create", "Warehouse", new { area = "CMS_Sale" })">
                <button type="button" class="btn btn-primary" title="Thêm nguyên liệu" style="margin-left:10px">
                    Thêm <i class="fa fa-plus-circle"></i>
                </button>
            </a>
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Trang chủ</a></li>
            <li class="breadcrumb-item">Quản lý</li>
            <li class="breadcrumb-item active" aria-current="page">Kho hàng</li>
        </ol>
    </div>
    <!-- Sidebar -->
    @using (Html.BeginForm("Index", "Warehouse", FormMethod.Post))
    {
        <div class="tab">
            <h5 style="margin-left:20px;margin-top:20px;"><b>SẢN PHẨM</b></h5>
            <hr class="sidebar-divider">
            <button class="tablinks" name="all" value="all" type="submit">Tất cả (@ViewBag.countAll)</button>
            <button class="tablinks" name="hangcon" value="hangcon" type="submit">Hàng còn trong kho (@ViewBag.countHangCon)</button>
            <button class="tablinks" name="tonkho" value="tonkho" type="submit">Tồn kho (@ViewBag.HangTonKho)</button>
            <button class="tablinks" name="saphethang" value="saphethang" type="submit">Sắp hết hàng (@ViewBag.countSapHetHang)</button>
            <button class="tablinks" name="hethang" value="hethang" type="submit">Hết hàng (@ViewBag.countHetHang)</button>
            @*<h5 style="margin-left:20px;margin-top:20px;"><b>GIAO DỊCH</b></h5>
            <hr class="sidebar-divider">
            <button class="tablinks" onclick="openSP(event, 'khachtra')" id="tabSP">Khách trả hàng</button>
            <button class="tablinks" onclick="openSP(event, 'xuatncc')">Xuất trả NCC</button>
            <button class="tablinks" onclick="openSP(event, 'kiemke')">Kiểm kê</button>*@
        </div>
    }
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="col-md-12">
                        <div class="order-search" style="margin: 10px 0px; position: relative;">
                            <input type="text" class="form-control ui-autocomplete-input" onkeyup="filterFunction()" placeholder="Nhập mã hoặc tên..." id="search-pro-box" autocomplete="off">
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm("Delete", "Warehouse", FormMethod.Post))
                {
                    <div class="table-responsive">
                        @Html.Grid(Model).Columns(columns =>
                   {
                       columns.Add()
                       .Encoded(false)
                       .Sanitized(false)
                       .SetWidth(30)
                       .RenderValueAs(x => ButtonEdit(x.Id));
                       columns.Add()
                       .Encoded(false)
                       .Sanitized(false)
                       .SetWidth(30)
                       .RenderValueAs(x => ButtonDelete(x.Id));
                       columns.Add().Titled("Mã NLiệu").SetWidth(5).Sanitized(false).Encoded(false).RenderValueAs(x => Ma(x.Id));
                       columns.Add().Encoded(false).Sanitized(false).Titled("Ảnh mô tả").RenderValueAs(x=>Image(x.HinhAnh));
                       columns.Add(x => x.NgayNhap).Sanitized(false).Titled("Ngày Nhập Gần Nhất").Format("{0:dd/MM/yyyy}");
                       columns.Add(x => x.Ten).Titled("Tên NLiệu");
                       columns.Add(x => x.TenDVT).Titled("ĐVT");
                       columns.Add(x => x.TenLoai).Titled("Loại NLiệu");
                       columns.Add(x => x.SoLuongKho).Titled("Số Lượng Kho");
                       columns.Add(x => x.DonGia).Titled("Đơn Giá Nhập");
                       columns.Add().Titled("Trạng thái").Sanitized(false).Encoded(false).RenderValueAs(x => Delete(x.IsDelete));
                   }).WithPaging(5)
                    </div>
                }
                @*<div class="table-responsive">
                    <div id="hangcon" class="tabcontent">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th>Mã SP</th>
                                    <th>Sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Vốn tồn kho</th>
                                    <th>Giá trị tồn</th>
                                </tr>
                            </thead>
                            <tbody id="myproducts">
                                <tr>
                                    <td><a href="#">1</a></td>
                                    <td>Sting</td>
                                    <td>50</td>
                                    <td>50000</td>
                                    <td>100000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>*@
                @*<div class="table-responsive">
                    <div id="tonkho" class="tabcontent">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th>Mã SP</th>
                                    <th>Sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Vốn tồn kho</th>
                                    <th>Giá trị tồn</th>
                                </tr>
                            </thead>
                            <tbody id="myproducts">
                                <tr>
                                    <td><a href="#">1</a></td>
                                    <td>Bánh 1</td>
                                    <td>50</td>
                                    <td>60000</td>
                                    <td>90000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer"></div>*@
            </div>
        </div>
    </div>
    @*<div id="all" class="tabcontent">
        <h3>Tất cả sản phẩm</h3>
        <p>Error</p>
    </div>
    <div id="hangcon" class="tabcontent">
        <h3>hangcon</h3>
        <p>hangcon is the capital city of England.</p>
    </div>

    <div id="tonkho" class="tabcontent">
        <h3>tonkho</h3>
        <p>tonkho is the capital of France.</p>
    </div>

    <div id="hethang" class="tabcontent">
        <h3>hethang</h3>
        <p>hethang is the capital of Japan.</p>
    </div>
    <div id="hangloi" class="tabcontent">
        <h3>hangloi</h3>
        <p>hangloi is the capital of Japan.</p>
    </div>*@
    <!-- Sidebar -->
</div>
<script>
    function openSP(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="tabSP" and click on it
    document.getElementById("tabSP").click();
    //
    //search
    function filterFunction() {
        var input, filter, ul, li, tr, i;
        input = document.getElementById("search-pro-box");
        filter = input.value.toUpperCase();
        div = document.getElementById("myproducts");
        tr = div.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            txtValue = tr[i].textContent || tr[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
                
            } else {
                tr[i].style.display = "none";
            }
            
        }
    }
    function ConfirmDelete() {
        var x = confirm("Bạn có chắc muốn xóa item đã chọn ?");
        if (x)
            return true;
        else
            return false;
    }
</script>