@using CMS_ShopOnline.Areas.Crm.Models
@model IEnumerable<CustomerViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ACE_Layout.cshtml";
}
@if (ViewBag.SuccessMessage != null)
{
    <script>
        $(document).ready(function () {
	    'use strict';
		swal({
		    title: 'Thành công!',
		    icon: 'success',
		    button:'Đồng ý',
		})
});

    </script>
}
@helper ButtonEdit(int Id)
{
    <a href="@Url.Action("Edit","Customer",new { @Id = Id })">
        <button class="btn btn-primary" title="Chỉnh sửa" style="margin-left:-8px;margin-right:9px;" type="button">
            <i class="fas fa-pencil-alt"></i>
        </button>
    </a>
}
@helper ButtonDelete(int Id)
{
    <button class="btn btn-warning" title="Ngừng hoạt động" style="margin:-2px" name="IdDelete" type="submit" value="@Id" onclick="return ConfirmDelete()"> <i class="fas fa-trash-alt"></i></button>
}
@helper Ma(int Id)
{
    <span>KH @Id</span>
}
@helper Delete(bool? Status)
{
    if (Status == false)
    {
        <span class="badge badge-primary">Hoạt động</span>
    }
}
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div style="display:flex">
            <h1 class="h3 mb-0 text-gray-800">Khách hàng</h1>
            <a href="@Url.Action("Create", "Customer", new { area ="Crm" })">
                <button type="button" class="btn btn-primary" title="Thêm khách hàng" style="margin-left:10px">
                    Thêm mới <i class="fa fa-plus"></i> 
                </button>
            </a>
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Trang chủ</a></li>
            <li class="breadcrumb-item">Khách hàng</li>
            <li class="breadcrumb-item active" aria-current="page">Khách hàng</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
            @using (Html.BeginForm("Index", "Customer",FormMethod.Post))
            {
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="col-md-8">
                        <div class="order-search" style="margin: 10px 0px; position: relative;">
                            @Html.TextBox("txtCode", Request["txtCode"], new { @class = "form-control ui-autocomplete-input", autocomplete = "off", placeholder = "Nhập mã tên khách hàng hoặc số điện thoại..." })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary" style="width: 25%;border: 1px solid grey;border-left: none;"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            }
                @using (Html.BeginForm("Delete", "Customer", FormMethod.Post))
                {
                <div class="table-responsive">
                    @Html.Grid(Model).Columns(columns =>
                   {
                       columns.Add().Titled("Mã").SetWidth(5).Sanitized(false).Encoded(false).RenderValueAs(x => Ma(x.Id));
                       columns.Add(x => x.TenKH).Titled("Tên khách hàng");
                       columns.Add(x => x.NgayTao).Sanitized(false).Titled("Ngày tạo").Format("{0:dd/MM/yyyy}");
                       columns.Add(x => x.TenNV).Titled("Nhân viên tạo");
                       columns.Add(x => x.SDT).Titled("Số điện thoại");
                       columns.Add(x => x.TongTien).Titled("Tổng tiền").Sortable(true);
                       columns.Add().Titled("Trạng thái").Sanitized(false).Encoded(false).RenderValueAs(x => Delete(x.IsDelete));
                       columns.Add().Titled("Tùy chỉnh").Css("text center")
                       .Encoded(false)
                       .Sanitized(false)
                       .SetWidth(100)
                       .RenderValueAs(x => (ButtonEdit(x.Id)).ToString() + (ButtonDelete(x.Id)).ToString());

                   }).WithPaging(5)  
                </div>
                }
            </div>
        </div>
    </div>
    <!--Row-->
</div>
<script>
    function ConfirmDelete() {
        var x = confirm("Bạn có chắc muốn xóa item đã chọn ?");
        if (x)
            return true;
        else
            return false;
    }
</script>

