@using CMS_ShopOnline.Areas.CMS_Sale.Models
@using PagedList.Mvc;
@model IEnumerable<PhieuNhapViewModel>
@using GridMvc.Html
<link href="~/Content/PagedList.css" rel="stylesheet" />
<style>
    .card .table td, .card .table th {
        padding-right: 0;
    }
    .dahuy{
        text-decoration:line-through;
    }
</style>
@if (ViewBag.SuccessMessage != null)
{
    <script>
        $(document).ready(function () {
	    'use strict';
		swal({
		    title: 'Thành công!',
		    icon: 'success',
		    button:'Đồng ý',
		})
});

    </script>
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ACE_Layout.cshtml";
    bool? checkhuy = true;
}
@helper CheckDate(DateTime date)
{
    @date.Date.ToString("dd/MM/yyyy")
}
@helper Delete(bool? Status, bool? Isdelete)
{
    if (Status == false)
    {
        if (Isdelete != true)
        {
            <span class="badge badge-primary">Chưa in</span>
        }
        else
        {
            <span class="badge badge-danger">Đã hủy</span>
        }
    }
    if (Status == true)
    {
        <span class="badge badge-success">Đã in</span>
    }
}
@helper ButtonEdit(int Id, bool? Status, bool? Isdelete)
{

        if (Isdelete != true)
        {
            <a href="" onclick="openpoupprint(@Id)">
                <button class="btn btn-primary" title="Xuất phiếu" style="margin-left:-19px;margin-right:3px;" type="button"><i class="fa fa-print"></i></button>
            </a>
        }
    
}
@helper ButtonDetails(int Id)
{
    <a href="@Url.Action("Details","InOrder",new { @Id = Id })">
        <button class="btn btn-success" title="Chi tiết" style="margin-right:3px;" type="button"><i class="fa fa-eye" aria-hidden="true"></i></button>
    </a>
}

@helper ButtonDelete(int Id, bool? Status, bool? Isdelete)
{
    if (Status != true)
    {
        if (Isdelete != true)
        {
            <button class="btn btn-warning" title="Hủy đơn" name="IdDelete" type="submit" value="@Id" onclick="return ConfirmDelete();"> <i class="fas fa-trash-alt"></i></button>
        }
    }
}

@helper Ma(int Id)
{
    <span>PN @Id</span>
}

<div class="container-fluid" id="container-wrapper">
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div style="display:flex">
        <h1 class="h3 mb-0 text-gray-800">Nhập hàng</h1>
        <a href="@Url.Action("Create", "InOrder", new { area ="CMS_Sale" })">
            <button type="button" class="btn btn-primary" title="Thêm phiếu nhập" style="margin-left:10px">
                Thêm mới <i class="fa fa-plus"></i>
            </button>
        </a>
    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./">Trang chủ</a></li>
        <li class="breadcrumb-item">Quản lý</li>
        <li class="breadcrumb-item active" aria-current="page">Nhập hàng</li>
    </ol>
</div>
<div class="row">
    <div class="col-lg-12 mb-4">
        <!-- Simple Tables -->
        <div class="card">
            @using (Html.BeginForm("Index", "InOrder", FormMethod.Get))
            {
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" >
                    <div class="col-md-3">
                        <div class="order-search" style="margin: 10px 0px; position: relative;display:flex">
                            <input type="text" class="form-control" placeholder="Nhập mã phiếu..." id="search-pro-box" autocomplete="off" name="name">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" name="idncc" id="idncc">
                            <option value="">Nhà cung cấp</option>
                            @foreach (var item in ViewBag.ncc)
                            {
                                <option value="@item.Id">@item.Ten</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" name="idnv" id="idnv">
                            <option value="">Nhân viên</option>
                            @foreach (var item in ViewBag.nhanvien)
                            {
                                <option value="@item.Id">@item.TenNV</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" style="width: 8%;border: 1px solid grey;border-left: none;"><i class="fa fa-search"></i></button>
                    <button type="button" class="btn btn-primary" onclick="openpoupmy(false);"><i class="fa fa-file-pdf-o" style="font-size:16px"></i> PDF</button>
                    <button type="button" class="btn btn-primary" onclick="openpoupmy(true);"><i class="fa fa-file-excel-o" style="font-size:16px"></i> Excel</button>
                </div> 
            } 
            @using (Html.BeginForm("Delete", "InOrder"))
            {
                <div class="table-responsive">
                    @Html.Grid(Model).Columns(columns =>
                   {
                       columns.Add().Titled("Mã").Sanitized(false).Encoded(false).RenderValueAs(x => Ma(x.Id));
                       columns.Add(x => x.NgayTao).Sanitized(false).Titled("Ngày tạo").Format("{0:dd/MM/yyyy}");
                       columns.Add(x => x.TenNV).Titled("Nhân viên");
                       columns.Add(x => x.Ten).Titled("Nhà cung cấp");
                       columns.Add(x => x.GhiChu).Titled("Ghi chú");
                       columns.Add(x => x.TongTien).Titled("Tổng tiền").Sortable(true).Css("money1");
                       columns.Add().Titled("Trạng thái").Sanitized(false).Encoded(false).RenderValueAs(x => Delete(x.IsPrint, x.IsDelete));
                       columns.Add().Titled("Tùy chỉnh").Css("style = display:flex")
                          .Encoded(false)
                          .Sanitized(false)
                          .SetWidth(150)
                          .RenderValueAs(x => (ButtonEdit(x.Id, x.IsPrint, x.IsDelete)).ToString() + (ButtonDetails(x.Id)).ToString() + (ButtonDelete(x.Id, x.IsPrint, x.IsDelete)).ToString());
                   }).WithPaging(10)    
                 </div>
            }
        </div>
    </div>
</div>
<!--Row-->
</div>
<script src="~/scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script>

    var name = getUrlVars()["name"];
    var idncc = getUrlVars()["idncc"];
    var idnv = getUrlVars()["idnv"];
    function openpoupmy(value) {
        newwindow = window.open('/CMS_Sale/InOrder/Print?ExportExcel=' + value + '&name=' + name + '&idncc='+idncc+'&idnv='+idnv+'', 'print', 'height=1000,width=1000');
                setTimeout(function () {
                }, 500);
    }
    function openpoupprint(value) {
        newwindow = window.open('/CMS_Sale/InOrder/PrintNT?Id=' + value + '', 'print', 'height=500,width=500');
        setTimeout(function () {
        }, 500);
    }

</script>
<script type="text/javascript">
    $(document).ready(function () {

    });
    function ConfirmDelete() {
        var x = confirm("Bạn có chắc muốn hủy item đã chọn ?");
        if (x)
            return true;
        else
            return false;
    }
</script>


