@model CMS_ShopOnline.Areas.Administration.Models.KhuyenMaiViewModel
@using CMS_ShopOnline.Helpers
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/ACE_Layout.cshtml";
}

<link href="/Assets/css/pos.css" rel="stylesheet" type="text/css" />
<link href="/Assets/public/templates/css/font-awesome.min.css" rel="stylesheet">
<style>
    .my-custom-scrollbar {
        position: relative;
        height: 300px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    .ui-autocomplete-row {
        padding: 8px;
        background-color: #f4f4f4;
        border-bottom: 1px solid #ccc;
        font-weight: bold;
    }

        .ui-autocomplete-row:hover {
            background-color: #ddd;
        }

    ul#ui-id-1 {
        list-style: none;
        width: 200px;
    }
</style>
@using (Html.BeginForm(FormMethod.Post))
{
    <div class="container-fluid" id="container-wrapper">
        @if (ViewBag.CheckKM == true)
        {
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <strong>Không thể tạo mới khuyến mãi.Vui lòng dừng khuyến mãi toàn bộ để có thể tạo.</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="row">
            <div class="col-lg-8">
                <div class="col-md-12" >
                    <p>Chọn nhóm hàng / hàng hoá khuyến mãi:</p>
                    <div class="col-md-7" style="float: none;margin: auto; padding-bottom:10px;display:flex" >
                        <div style="padding-left:10px;">
                            <p><input type="radio"  name="gender" value="all" onclick="formChoice(0);" checked> Tất cả</p>
                        </div>
                        <div style="padding-left:10px;">
                            <p><input type="radio"  name="gender" value="nhomhang" onclick="formChoice(1);"> Nhóm hàng</p>
                            
                        </div>
                        <div style="padding-left:10px;">
                            <p><input type="radio"  name="gender" value="nhomsp" onclick="formChoice(2);"> Nhóm sản phẩm</p>
                        </div>
                    </div>
                </div>
                <div id="all" class="col-md-12" style="float: none;margin: auto; padding-bottom:10px;display:flex" >
                    <div class="col-md-4">
                        <label>Số lượng tối thiểu</label>
                        <input class="form-control"  name="ListCTkm[0].SLToithieu" value="1"/>
                        <input class="form-control" id="IsAll" name="IsAll" value="all" type="hidden"/>
                    </div>
                    <div class="col-md-4">
                        <label>Giảm giá</label>
                        <input class="form-control money1" id="giamgia" type="text"  onchange="change(this,'TienGiam')" value="0" min="0" max="100"/>
                        <input type="hidden" name="ListCTkm[0].TienGiam" id="TienGiam" value="0"/>
                    </div>
                    <div class="col-md-4" style="padding-left:10px">
                        <label>Loại giảm giá</label>
                        <div style="display:flex;padding-top: 10px;">
                            <p style="padding-right: 10px;"><input type="radio" id="phantram" name="ListCTkm[0].IsPhanTram" value="true" checked="checked"> %</p>
                            <p><input id="tien" type="radio" name="ListCTkm[0].IsPhanTram" value="false"> VND</p>
                        </div> 
                    </div>
                </div>
                <div class="col-md-12" id="nhomhang" style="display:none">
                    <div class="col-md-4" style="float: none;margin: auto; padding-bottom:10px">
                        <select id="cars" class="form-control">
                            @foreach (var item in ViewBag.LoaiSp)
                            {
                                <option value="@item.Id">@item.Ten</option>
                            }
                        </select>
                    </div>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <div style="overflow-x:auto;" id="listOrderDetail">
                            <div class="table-responsive">
                                <table id="Table" class="table order-list table-bordered table-striped mb-0">
                                    <thead class="thead-light" style="background-color:#e7cff7">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nhóm hàng</th>
                                            <th scope="col">Số lượng tối thiểu</th>
                                            <th scope="col">Giảm giá</th>
                                            <th scope="col">Loại giảm giá</th>
                                            <th scope="col">Hủy</th>
                                        </tr>
                                    </thead>
                                    <tbody class="detailList"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding-top: 10px;padding-bottom:10px;display:none"  id="nhomsp">
                    <input class="form-control" style="margin-bottom:10px" placeholder="Nhập tên sản phẩm..." id="txtName"/>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <div style="overflow-x:auto;" id="listOrderDetail">
                            <div class="table-responsive">
                                <table id="myTable" class="table order-list table-bordered table-striped mb-0">
                                    <thead class="thead-light" style="background-color:#e7cff7">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Tên sản phẩm</th>
                                            <th scope="col">Số lượng tối thiểu</th>
                                            <th scope="col">Giảm giá</th>
                                            <th scope="col">Loại giảm giá</th>
                                            <th scope="col">Hủy</th>
                                        </tr>
                                    </thead>
                                    <tbody class="mydetailList"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div>
                    <div class="col-lg-12">
                        <label style="width: 215px; margin-top: 10px;">Tên chương trình KM:</label>
                        @Html.TextBoxFor(x => x.Ten, new { @class = "form-control"})
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                        <label style="width: 215px; margin-top: 10px;">Ngày bắt đầu:</label>
                        @Html.TextBoxFor(x=>x.NgayBD , new { @class = "form-control form_datetime", autocomplete = "off", placeholder = "Từ ngày", @type = "date" })
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label style="width: 215px; margin-top: 10px;">Ngày kết thúc:</label>
                           @Html.TextBoxFor(x => x.NgayKT, new { @class = "form-control form_datetime", autocomplete = "off", placeholder = "Đến ngày", @type = "date" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div>
                            <div style="padding:0px">
                                <label>Ghi chú</label>
                            </div>
                            <div class="col-lg-12">
                                @Html.TextAreaFor(x => x.GhiChu, new { @class = "form-control", rows = "2", style = "border-radius: 0;" })
                            </div>
                            @if(ViewBag.CheckKM == false)
                            {
                                <div class="btn-groups pull-right" style="float:right;padding-top:10px;display:flex">
                                    <button type="submit" class="btn btn-primary" id="Save" style="margin-right:5px" onclick="return SaveKM();">
                                        <i class="fa fa-check"></i> Lưu
                                    </button>
                                    <button type="button" class="btn btn-primary">
                                        <i class="fa fa-print"></i> Lưu và kích hoạt
                                    </button>
                                    <a href="/orders">
                                        <button type="button" class="btn-back btn btn-default">
                                            <i class="fa fa-arrow-left"></i> Hủy
                                        </button>
                                    </a>
                                </div>                        
                            }   
                        </div>
                    </div>
                </div>
                <!-- General Element -->

            </div>
        </div>
    </div>
}
<script>
    function changespcheck(idthis, idthat)
    {
        debugger
        var el = idthis.value.replace(/[.]/g, '');
        $("#id_"+idthat+"").val(el);
        var id = $("#id_" + idthat + "").val();
        var max1 = idthis.max;
        var max = idthis.max;
        var min = idthis.min;
        if(parseInt(idthis.value) > parseInt(max)) {
            $("#spcheck_" + idthat + "").val(max);
            $("#id_"+idthat+"").val(max);
        }
        else if (parseInt(idthis.value) < parseInt(min)) {
            $("#spcheck_" + idthat + "").val(min);
            $("#id_"+idthat+"").val(min);
        }
    }
    function tienspxoa(idthat)
    {
        debugger
        $("#spcheck_"+idthat+"").removeAttr("max");
        $("#spcheck_"+idthat+"").removeAttr("min");
    }
    function phantramspxoa(idthat) {
        debugger
        $("#spcheck_"+idthat+"").attr({
            "max": 100,        // substitute your own
            "min": 1          // values (or variables) here
        });
    }
    function changespcheck1(idthis, idthat) {
        debugger
        var el = idthis.value.replace(/[.]/g, '');
        $("#type_" + idthat + "").val(el);
        var id = $("#type_" + idthat + "").val();
        var max1 = idthis.max;
        var max = idthis.max;
        var min = idthis.min;
        if (parseInt(idthis.value) > parseInt(max)) {
            $("#spcheck1_" + idthat + "").val(max);
            $("#type_" + idthat + "").val(max);
        }
        else if (parseInt(idthis.value) < parseInt(min)) {
            $("#spcheck1_" + idthat + "").val(min);
            $("#type_" + idthat + "").val(min);
        }
    }
    function tienspxoa1(idthat) {
        debugger
        $("#spcheck1_" + idthat + "").removeAttr("max");
        $("#spcheck1_" + idthat + "").removeAttr("min");
    }
    function phantramspxoa1(idthat) {
        debugger
        $("#spcheck1_" + idthat + "").attr({
            "max": 100,        // substitute your own
            "min": 1          // values (or variables) here
        });
    }
    //$("#spcheck").change(function () {
    //    var max = parseInt($(this).attr('max'));
    //    var min = parseInt($(this).attr('min'));
    //    if ($(this).val() > max) {
    //        $(this).val(max);
    //    }
    //    else if ($(this).val() < min) {
    //        $(this).val(min);
    //    }
    //});
    
    $("#giamgia").change(function () {
        var max = parseInt($(this).attr('max'));
        var min = parseInt($(this).attr('min'));
        if ($(this).val() > max) {
            $(this).val(max);
        }
        else if ($(this).val() < min) {
            $(this).val(min);
        }
    });
    $('#phantram').on("click", function () {
        $("#giamgia").attr({
            "max": 100,        // substitute your own
            "min": 1          // values (or variables) here
        });
    });
    $('#tien').on("click", function () {
        $("#giamgia").removeAttr("max");
        $("#giamgia").removeAttr("min");
    });
    function SaveKM()
    {
        if($("#Ten").val() == "")
        {
            swal({
                text: "Chưa nhập tên khuyến mãi!",
                icon: "warning",
                button: "Đồng ý",
            });
            return false;
        }
        if ($("#NgayBD").val() == "") {
            swal({
                text: "Chưa nhập ngày bắt đầu!",
                icon: "warning",
                button: "Đồng ý",
            });
            return false;
        }
        if ($("#NgayKT").val() == "") {
            swal({
                text: "Chưa nhập ngày kết thúc!",
                icon: "warning",
                button: "Đồng ý",
            });
            return false;
        }
            //var test = $("#IsAll").val();
            //if ($("#IsAll").val() == "all") {
            //    $.ajax({
            //        url: "/Promotions/checktontaiall/",
            //        dataType: "json",
            //        type: "GET",
            //        contentType: 'application/json; charset=utf-8',
            //        success: function (data) {
            //            if (data != 1) {
            //                swal({
            //                    text: "Khuyến mãi tất cả đã tồn tại!",
            //                    icon: "warning",
            //                    button: "Đồng ý",
            //                });
            //                return false;
            //            }
            //        }
            //    });
            //    return false;
            //}
            if($("#IsAll").val() == "nhomhang")
            {
                var detailList = $('.detailList').find('tr').length;
                if (detailList == 0) {
                    swal({
                        text: "Chưa chọn loại sản phẩm!",
                        icon: "warning",
                        button: "Đồng ý",
                    });
                    return false;
                }
            }
            if ($("#IsAll").val() == "nhomsp") {
                debugger
                var detailList = $('.mydetailList').find('tr').length;
                if (detailList == 0) {
                    swal({
                        text: "Chưa chọn sản phẩm!",
                        icon: "warning",
                        button: "Đồng ý",
                    });
                    return false;
                }
            }
        }
        function formChoice(x) {
            if (x == 0) {
                $('#all').css('display', 'block ruby');
                $('#nhomhang').css('display', 'none');
                $('#nhomsp').css('display', 'none');
                $(".mydetailList").empty();
                $(".detailList").empty();
                $("#IsAll").val("all");
            }
            if (x == 1)
            {
                $('#all').css('display', 'none');
                $('#nhomhang').css('display', 'block');
                $('#nhomsp').css('display', 'none');
                $(".mydetailList").empty();
                $("#IsAll").val("nhomhang");
            }
            if (x == 2)
            {
                $('#all').css('display', 'none');
                $('#nhomhang').css('display', 'none');
                $('#nhomsp').css('display', 'block');
                $(".detailList").empty();
                $("#IsAll").val("nhomsp");
            }
        }
        var counter = 0;
        $(document).ready(function () {
            $('#selectloai').on('change', function () {
                debugger
                AutoCompleteTB(this.value);
            });
            $('#cars').on('change', function () {
                debugger
                var selTag = document.getElementById("cars");
                var text = selTag.options[selTag.selectedIndex].text;
                var selectValue = text;
                var selectid = $(this).val();
                SelectType(selectid, selectValue);
            });
            AutoCompleteTB();

        });
        function AutoCompleteTB()
        {
            $('#txtName').autocomplete({
                minLength: 1,
                source: function (request, response) {
                    $.ajax({
                        url: "/POS/Search/",
                        dataType: "json",
                        type: "GET",
                        contentType: 'application/json; charset=utf-8',
                        data: { name: request.term},
                        success: function (data) {
                            response(data);
                        },
                        error: function (err) {
                            alert(err);
                        }
                    });
                },
                focus: updateTextBox,
                select: function (e, ui) {
                    SelectProducts(ui.item.Id);
                },
            })
        .autocomplete('instance')._renderItem = function (ul, item) {
            return $('<li class="ui-autocomplete-row"></li>')
                .append('<img src="/Areas/CMS_Sale/Image/ThanhPham/' + item.HinhAnh + '" width="70" />&nbsp;&nbsp;&nbsp;Tên SP : ' + item.Ten + ' - Đơn giá : ' + number_format(item.DonGia) + '')
                .appendTo(ul);
            function updateTextBox(event, ui) {
                $(this).val(ui.item.Id);
                return false;
            }
        };
            function updateTextBox(event, ui) {
                $('#IdKhachHang').val(ui.item.Id);
                $('#dlcustomer').val(ui.item.TenKH);
                return false;
            }
        }
        $("#myTable").on("click", ".ibtnDel", function (event) {
            $(this).closest("tr").remove();
            $('.mydetailList tr').each(function (index, tr) {
                $(this).find("span.sn").html(index + 1);
                $(tr).find('.mydetail_item_qty').attr('name', 'ListCTkm[' + (index + 1) + '].IdThanhPham');
                $(tr).find('.mydetail_item_price').attr('name', 'ListCTkm[' + (index + 1) + '].SLToithieu');
                $(tr).find('.mydetail_item_id').attr('name', 'ListCTkm[' + (index + 1) + '].TienGiam');
                $(tr).find('.mydetail_item_radio').attr('name', 'ListCTkm[' + (index + 1) + '].IsPhanTram');
            });
        });
        $("#Table").on("click", ".tnDel", function (event) {
            $(this).closest("tr").remove();
            $('.detailList tr').each(function (index, tr) {
                $(this).find("span.sn").html(index + 1);
                $(tr).find('.detail_item_qty').attr('name', 'ListCTkm[' + (index + 1) + '].IdLoaiSP');
                $(tr).find('.detail_item_price').attr('name', 'ListCTkm[' + (index + 1) + '].SLToithieu');
                $(tr).find('.detail_item_id').attr('name', 'ListCTkm[' + (index + 1) + '].TienGiam');
                $(tr).find('.detail_item_radio').attr('name', 'ListCTkm[' + (index + 1) + '].IsPhanTram');
            });
        });
        function SelectProducts(id) {
            debugger
            var dongia = id;
            $.ajax({
                url: "/POS/ListProductsById/",
                dataType: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                data: { Id: id },
                success: function (data) {
                    $.ajax({
                        url: "/Promotions/Checktontai/",
                        dataType: "json",
                        type: "GET",
                        contentType: 'application/json; charset=utf-8',
                        data: { idtp: id, idloai: "thanhpham" },
                        success: function (ok) {
                            console.log(ok);
                            if (ok == 1) {
                                var count = myTable.querySelectorAll("tr").length;
                                if (count == null) {
                                    count = 0;
                                }
                                var getid = $("#" + id + "").val();
                                if (getid == null) {
                                    var html = "";
                                    $.each(data, function (key, item) {
                                        html += '<tr><td id="' + item.Id + '"><span class="sn">' + count + '</span></td>';
                                        html += '<td style="display:none;"><input class="mydetail_item_qty" name="ListCTkm[' + (count) + '].IdThanhPham"  value="' + item.Id + '"></td>';
                                        html += '<td><p type="text">' + item.Ten + '</p></td>';
                                        html += '<td><input style="width:135px" id="Count_' + item.Id + '" class="form-control mydetail_item_price" name="ListCTkm[' + (count) + '].SLToithieu" value="1"></td>';
                                        html += '<td><input style="width:135px" class="form-control money1" id="spcheck_'+item.Id+'" onchange="changespcheck(this,' + dongia + ')" type="text" value="0" min="1" max="100" /></td>';
                                        html += '<td style="display:none;"><input class="mydetail_item_id" id="id_' + item.Id + '" type="text" name="ListCTkm[' + (count) + '].TienGiam"  /></td>';
                                        html += '<td><div style="display:flex;padding-top: 10px;"><p style="padding-right: 10px;" ><input onclick="phantramspxoa(' + item.Id + ');" class="mydetail_item_radio" type="radio" name=ListCTkm[' + (count) + '].IsPhanTram value="true" checked="checked"> %</p><p><input onclick="tienspxoa(' + item.Id + ');" class="mydetail_item_radio" type="radio" name=ListCTkm[' + (count) + '].IsPhanTram value="false"> VND</p></div></td>';
                                        html += '<td style="text-align:center;"><i class="ibtnDel fa fa-close" style="font-size:30px;color:red;"></i></td></tr>';
                                        //html += '<td><input style="width:135px" id="Count_' + item.Id + '" class="form-control mydetail_item_price" name="ListCTkm[' + (count) + '].SLToithieu"></td>';
                                        //html += '<td><input style="width:135px" class="form-control money1" onchange="change(this,' + dongia + ');" /></td>';
                                        //html += '<td style="display:none;"><input class="mydetail_item_id" id="' + item.Id + '" type="text" name="ListCTkm[' + (count) + '].TienGiam"></td>';
                                        //html += '<td><div style="display:flex;padding-top: 10px;"><p style="padding-right: 10px;"><input class="mydetail_item_radio" type="radio" name=ListCTkm[' + (count) + '].IsPhanTram value="true" checked="checked"> %</p><p><input class="mydetail_item_radio" type="radio"name=ListCTkm[' + (count) + '].IsPhanTram value="false"> VND</p></div></td>';
                                        //html += '<td style="text-align:center;"><i class="ibtnDel fa fa-close" style="font-size:30px;color:red;"></i></td></tr>';
                                        $("#myTable").append(html);
                                        counter++;

                                    });
                                }
                            }
                            else {
                                swal({
                                    text: "Khuyến mãi cho sản phẩm đã tồn tại!",
                                    icon: "warning",
                                    button: "Đồng ý",
                                });
                            }
                        }
                    });
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
        function SelectType(id,value)
        {
            $.ajax({
                url: "/Promotions/Checktontai/",
                dataType: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                data: { idtp: id, idloai: "loaisp" },
                success: function (data) {
                    if(data==1)
                    {
                        var dongia = id;
                        var count = Table.querySelectorAll("tr").length;
                        if (count == null) {
                            count = 0;
                        }
                        var getid = $("#" + id + "").val();
                        if (getid == null) {
                            var html = "";
                            html += '<tr><td id="' + id + '"><span class="sn">' + count + '</span></td>';
                            html += '<td style="display:none;"><input class="detail_item_qty" name="ListCTkm[' + (count) + '].IdLoaiSP"  value="' + id + '"></td>';
                            html += '<td><p type="text">' + value + '</p></td>';
                            html += '<td><input style="width:135px" class="form-control detail_item_price" name="ListCTkm[' + (count) + '].SLToithieu" value="1"></td>';
                            html += '<td><input style="width:135px" class="form-control money1" id="spcheck1_'+id+'" onchange="changespcheck1(this,' + dongia + ');" value="0" min="1" max="100"/></td>';
                            html += '<td style="display:none;"><input id="type_' + id + '" class="detail_item_id" type="text" name="ListCTkm[' + (count) + '].TienGiam" value="0"></td>';
                            html += '<td><div style="display:flex;padding-top: 10px;"><p style="padding-right: 10px;"><input onclick="phantramspxoa1('+id+');" class="detail_item_radio" type="radio" name=ListCTkm[' + (count) + '].IsPhanTram value="true" checked="checked"> %</p><p><input onclick="tienspxoa1('+id+');" class="detail_item_radio" type="radio"name=ListCTkm[' + (count) + '].IsPhanTram value="false"> VND</p></div></td>';
                            html += '<td style="text-align:center;"><i class="tnDel fa fa-close" style="font-size:30px;color:red;"></i></td></tr>';
                            $("#Table").append(html);
                            counter++;
                        } 
                    }
                    else
                    {
                        swal({
                            text: "Khuyến mãi cho sản phẩm đã tồn tại!",
                            icon: "warning",
                            button: "Đồng ý",
                        });
                    }
                }
            });          
        }
    function number_format(number, decimals, dec_point, thousands_sep) {
        // *     example: number_format(1234.56, 2, ',', ' ');
        // *     return: '1 234,56'
        number = (number + '').replace(',', '').replace(' ', '');
        var n = !isFinite(+number) ? 0 : +number,
          prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
          sep = (typeof thousands_sep === 'undefined') ? '.' : thousands_sep,
          dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
          s = '',
          toFixedFix = function (n, prec) {
              var k = Math.pow(10, prec);
              return '' + Math.round(n * k) / k;
          };
        // Fix for IE parseFloat(0.55).toFixed(0) = 0;
        s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
        if (s[0].length > 3) {
            s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
        }
        if ((s[1] || '').length < prec) {
            s[1] = s[1] || '';
            s[1] += new Array(prec - s[1].length + 1).join('0');
        }
        return s.join(dec);
    }
</script>



