@model CMS_ShopOnline.Areas.CMS_Sale.Models.ThanhPhamViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/ACE_Layout.cshtml";
}
@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container-fluid" id="container-wrapper">
        <div class="row">
            <div class="col-lg-6">
                <!-- Form Basic -->
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">TẠO MỚI SẢN PHẨM</h6>
                    </div>
                    <div class="card-body" style="margin-top:-13px">
                        <div class="form-group">
                            <label>Tên sản phẩm</label>
                            @Html.TextBoxFor(model => model.Ten, new { @class = "form-control" })
                            @Html.ValidationSummary(true)
                        </div>                        
                        <div class="form-group">
                            <div class="text-center">
                                <label class="btn btn-primary btn-sm btn-white" for="File"><i class="fa fa-upload"></i><span>Tải hình mới</span></label>
                                <input id="File" name="File" type="file" accept="image/*" style="display:none" onchange="$('#upload-file-info').html(this.files[0].name)">
                                <span class='label label-info' style="display:none" id="upload-file-info"></span>
                            </div>
                            <div class="text-center" id="display-image">
                                <img src="/Assets/img/icons/add-image2.png" title="" id="imgAvt" style="max-height:217px" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- General Element -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Đơn giá</label>
                            <input class="form-control money1" value="@Model.DonGia" onchange="change(this,'DonGia');" />
                            @Html.TextBoxFor(model => model.DonGia, new { @class = "form-control", Type = "hidden" })
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Phân loại</label>
                            <select class="form-control " data-val="true" data-val-number="The field Loại người dùng must be a number." data-val-required="Bắt buộc nhập" id="IdLoai" name="IdLoai">
                                <option @(Model.IdLoai == null ? "selected" : "") value="" data-code="">-Chọn loại-</option>
                                @foreach (var item in Model.listLoaiSP)
                                {
                                    <option @(Model.IdLoai == item.Id ? "selected" : "") value="@item.Id">@item.Ten</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Đơn vị tính</label>
                            <select class="form-control " data-val="true" data-val-number="The field Loại người dùng must be a number." data-val-required="Bắt buộc nhập" id="IdDVT" name="IdDVT">
                                <option @(Model.IdDVT == null ? "selected" : "") value="" data-code="">-Chọn đơn vị tính-</option>
                                @foreach (var item in Model.listDVT)
                                {
                                    <option @(Model.IdDVT == item.Id ? "selected" : "") value="@item.Id">@item.Ten</option>
                                }
                            </select>
                        </div>
                        <button class="btn btn-mini btn-primary" id="Save" type="submit" name="Submit">
                            <i class="ace-icon fa fa-save"></i> Lưu
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    //validation
    $("#Save").click(function () {
        var tensp = $("#Ten").val();
        var dongia = $("#DonGia").val();
        var loaisp = $("#IdLoai").find("option:selected").val();
        var dvt = $("#IdDVT").find("option:selected").val();
        if (tensp == "") {
            swal({
                text: "Chưa nhập tên sản phẩm!",
                icon: "warning",
                button: "Đồng ý",
            });
            return false;
        }
        if (dongia == "") {
            swal({
                text: "Chưa nhập đơn giá!",
                icon: "warning",
                button: "Đồng ý",
            });
            return false;
        }
        if (loaisp == "") {
            swal({
                text: "Chưa chọn phân loại!",
                icon: "warning",
                button: "Đồng ý",
            });
            return false;
        }
        if (dvt == "") {
            swal({
                text: "Chưa chọn đơn vị tính!",
                icon: "warning",
                button: "Đồng ý",
            });
            return false;
        }
    });
    /* The uploader form */
    $(function () {
        $(":file").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
            }
        });
    });

    function imageIsLoaded(e) {
        $('#imgAvt').attr('src', e.target.result);
    };

</script>

