@using CMS_ShopOnline.Areas.CMS_Sale.Models
@using CMS_ShopOnline.Helpers
@model IEnumerable<ThanhPhamViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ACE_Layout.cshtml";
}
@using GridMvc.Html
@if (ViewBag.SuccessMessage != null)
{
    <script>
        $(document).ready(function () {
	    'use strict';
		swal({
		    title: 'Thành công!',
		    icon: 'success',
		    button:'Đồng ý',
		})
});

    </script>
}
    @helper ButtonEdit(int Id)
    {
        <a href="@Url.Action("Edit","Products",new { @Id = Id })">
            <button class="btn btn-primary" title="Chỉnh sửa" style="margin-left:-8px;margin-right:9px;" type="button"><i class="fas fa-pencil-alt"></i></button>
        </a>
    }

    @helper ButtonDelete(int Id, bool? Status)
    {
        if(Status == true)
        {
            <button class="btn btn-warning" title="Mở khóa" style="margin:-2px;width:40px" name="IdDelete" type="submit" value="@Id" onclick="return ConfirmUnBlock()"> <i class="fa fa-unlock-alt"></i></button>
        }
        else
        {
            <button class="btn btn-warning" title="Ngừng kinh doanh" style="margin:-2px" name="IdDelete" type="submit" value="@Id" onclick="return ConfirmDelete()"> <i class="fas fa-trash-alt"></i></button>
        }
    }

    @helper Ma(int Id)
    {
        <span>SP @Id</span>
    }

    @helper Delete(bool? Status)
    {
        if (Status == false)
        {
            <span class="badge badge-primary">Hoạt động</span>
        }
        else
        {
            <span class="badge badge-warning">Đã khóa</span>
        }
    }
    @helper Image(string img)
    {
        if (img == null)
        {
            <img src="~/Areas/CMS_Sale/Image/ThanhPham/noimage.gif" style="width:60px; height:60px">
        }
        else
        {
            <img src="~/Areas/CMS_Sale/Image/ThanhPham/@img" style="width:60px; height:60px">
        }
    }
    <div class="container-fluid" id="container-wrapper">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <div style="display:flex;">
                <h1 class="h3 mb-0 text-gray-800">Sản phẩm</h1>
                <a href="@Url.Action("Create", "Products", new { area ="CMS_Sale" })">
                    <button type="button" class="btn btn-primary" title="Thêm sản phẩm" style="margin-left:10px">
                        Thêm mới <i class="fa fa-plus"></i>
                    </button>
                </a>
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Trang chủ</a></li>
                <li class="breadcrumb-item">Quản lý</li>
                <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
            </ol>
        </div>
        <div class="row">
            <div class="col-lg-12 mb-4">
                <!-- Simple Tables -->
                <div class="card">
                @using (Html.BeginForm("Index", "Products",FormMethod.Get))
                {
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <div class="col-md-6">
                            <div class="order-search" style="margin: 10px 0px; position: relative;">
                                <input type="text" class="form-control" placeholder="Nhập tên hoặc loại sản phẩm..." id="search-pro-box" autocomplete="off" name="txtInfo">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" name="IdLoaiSP" id="IdLoaiSP">
                                <option value="">Tìm theo loại</option>
                                @foreach (var item in ViewBag.LoaiSP)
                                {
                                    <option value="@item.Id">@item.Ten</option>
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" style="width: 8%;border: 1px solid grey;border-left: none;"><i class="fa fa-search"></i></button>
                        <button type="button" class="btn btn-primary" onclick="openpoupmy(false);"><i class="fa fa-file-pdf-o" style="font-size:16px"> PDF</i></button>
                        <button type="button" class="btn btn-primary" onclick="openpoupmy(true);"><i class="fa fa-file-excel-o" style="font-size:16px"> Excel</i></button>
                    </div>
                }
                @using (Html.BeginForm("Delete", "Products", FormMethod.Post))
                    {
                        <div class="table-responsive">
                            @Html.Grid(Model).Columns(columns =>
                       {
                           columns.Add().Titled("Mã").Sanitized(false).Encoded(false).RenderValueAs(x => Ma(x.Id));
                           columns.Add(x => x.Ten).Titled("Tên sản phẩm");
                           columns.Add().Encoded(false).Sanitized(false).Titled("Hình ảnh").RenderValueAs(x => Image(x.HinhAnh));
                           columns.Add(x => x.NgayTao).Sanitized(false).Titled("Ngày tạo").Format("{0:dd/MM/yyyy}");
                           columns.Add(x => x.TenDVT).Titled("Đơn vị tính");
                           columns.Add(x => x.TenLoai).Titled("Loại sản phảm");
                           columns.Add(x => x.DonGia).Titled("Đơn giá").Css("money1").Sortable(true);
                           columns.Add().Titled("Trạng thái").Sanitized(false).Encoded(false).RenderValueAs(x => Delete(x.IsDelete));
                           columns.Add().Titled("Tùy chỉnh").Css("text center")
                              .Encoded(false)
                              .Sanitized(false)
                              .SetWidth(150)
                              .RenderValueAs(x => (ButtonEdit(x.Id)).ToString() + (ButtonDelete(x.Id,x.IsDelete)).ToString());
                       }).WithPaging(5)
                        </div>
                    }
                </div>
            </div>
        </div>
        <!--Row-->
    </div>
<script>
    //print
    function openpoupmy(value) {
        var IdLoaiSP = getUrlVars()["IdLoaiSP"];
        var txtInfo = getUrlVars()["txtInfo"];
        newwindow = window.open('/CMS_Sale/Products/Print?txtInfo=' + txtInfo + '&ExportExcel=' + value + '&IdLoaiSP=' + IdLoaiSP + '', 'print', 'height=500,width=500');
        setTimeout(function () {
        }, 500);
    }
    //deletei
        function ConfirmDelete() {
            var x = confirm("Bạn có chắc muốn khóa item đã chọn ?");
            if (x)
                return true;
            else
                return false;
        }
        function ConfirmUnBlock() {
            var x = confirm("Bạn có chắc muốn mở khóa item đã chọn ?");
            if (x)
                return true;
            else
                return false;
        }
</script>

